@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: aliceblue;
}


@layer base {
    a {
        @apply text-gray-800;
        @apply font-bold;
    }
}

.href-secondary {
    @apply font-normal italic
}

.badge {
    @apply inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10 bg-stone-50;
}

a .badge {
    @apply hover:bg-white
}

a:hover {
    color: gray
}